<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AutoPass Manager</title>
    <link rel="stylesheet" href="login-page.component.css" />
  </head>
  <body>
    <div class="container">
      <img
        src="assets\AutoPassManagerLogo.png"
        alt="Image"
        class="center-image"
      />
      <p class="center-text">Your solution to social media security</p>
      <button class="login-button" (click)="login()">Login</button>
    </div>
    <footer class="footer">
      <p class="footer-text">
        &copy; <span id="year">2024</span> AutoPassManager TK Security
      </p>
    </footer>
  </body>
</html>
