<div class="modal" style="display: block">
  <div class="modal-content d-flex flex-column">
    <span class="close" (click)="close.emit()">&times;</span>
    <h1>Password Strength Checker</h1>
    <p>Enter a password below to find if it was ever part of a data leak.</p>
    <p>If your password has a high leak count, change it immediatley!</p>
    <div class="pass-and-button">
      <div class="passwordInputGroup">
        <input type="text" #passToCheck name="password" id="passToCheck" />
      </div>
      <button
        class="check-strength-button"
        (click)="checkPasswordStrength(passToCheck.value)"
      >
        Check Strength
      </button>
    </div>
    <div class="spinner-container" id="spinner" style="display: none">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading ...</span>
      </div>
    </div>
    <div id="password-details" style="display: none">
      <p>This password has been part of a leak {{ leakCount }} times:</p>
    </div>
  </div>
</div>
